body {
  background: #fafafa;
  color: #333333;
}

.storeColor{
  background-color: #F26101;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

#logo-main{
  display: block;
  margin: auto;
  padding-bottom: 10px;
}

.masthead {
  height: 95vh;
  min-height: 500px;
  background-image: url(../static/images/adorable-animal-blur-406014.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.masthead2 {
  height: 50vh;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section2 {
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    /* bottom, image */
    url(../static/images/cat-dark.jpg);

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#section1 {
background: rgb(217,232,245);
background: linear-gradient(90deg, rgba(217,232,245,1) 25%, rgba(255,255,255,1) 50%, rgba(217,232,245,1) 77%, rgba(145,190,212,1) 100%);
}

#section2 {
  background: rgb(242,97,1);
  background: radial-gradient(circle, rgba(242,97,1,1) 0%, rgba(48,66,105,1) 97%);
  box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 1);
}

.section1 p {
  color: white;
}

.section2 p, .section2 h2, .section2 h4 {
  color: white;
}

.subsection2 p {
  color: white;
}

.section2 {
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    /* bottom, image */
    url(../static/images/cat-dark.jpg);

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#section1 {
background: rgb(217,232,245);
background: linear-gradient(90deg, rgba(217,232,245,1) 25%, rgba(255,255,255,1) 50%, rgba(217,232,245,1) 77%, rgba(145,190,212,1) 100%);
}

#section2 {
  background: rgb(242,97,1);
  background: radial-gradient(circle, rgba(242,97,1,1) 0%, rgba(48,66,105,1) 97%);
  box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 1);
}

.section1 p {
  color: white;
}

.section2 p, .section2 h2, .section2 h4 {
  color: white;
}

.subsection2 p {
  color: white;
}

.over-text {
  width: 100%;
  position: absolute;
  top: 300px;
  text-align: center;
  z-index: 10;
}


h1, h2, h3, h4, h5, h6 {
  color: #444444;
  font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
}

.list-unstyled li a {
  color: white;
}

.footer-copyright a {
  color: white;
}

.image-text {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: max-content;
    height: max-content;
    font-size: 1.5rem;
    font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;

}

.pet-image {
  position: relative;
  float: left;
  width:  150px;
  height: 150px;
}

.adoptInfoImage {
  width:  300px;
  height: 300px;
}
