{% extends "layout.html" %}

{% block content %}

<div class="container-fluid mt-5 mb-5 p-0">

  <table class="table table-hover">
  <thead>
    <tr class="text-center">
      <th scope="col">Pet Image</th>
      <th scope="col">Pet Name</th>
      <th scope="col">Pet Age</th>
      <th scope="col">Pet Breed</th>
      <th scope="col">Pet Weight</th>
      <th scope="col">Pet Documents</th>
    </tr>
  </thead>
  <tbody>
    {% for pet in pets %}
      <tr class="text-center">
        <th scope="row">
          <div class=" app-image">
            <img src="../static/animal_pics/{{pet.petImage}}" alt="{{pet.petName}}" class="img-fluid rounded">
          </div>
        </th>
        <td>{{pet.petName}}</td>
        <td>{{pet.petAge}}</td>
        <td>{{pet.petBreed}}</td>
        <td>{{pet.petWeight}}lbs</td>
        <td>
          <div class=" app-image">
            <a href="../static/document_files/{{pet.petDocument}}"><button type="button" class="btn btn-primary" name="button">View Document(s)</button></a>
          </div>
        </td>
        <td>
          <form method="POST" action="">
            <fieldset class="form-group">
              <div class="form-group">
                <a href="/applications/{{pet.id}}/approve"><button type="button" class="btn btn-primary" name="button">Approve</button></a>
              </div>
            </fieldset>
          </form>
        </td>
        <td>
          <form method="POST" action="">
            <fieldset class="form-group">
              <div class="form-group">
                <a href="/applications/{{pet.id}}/decline"><button type="button" class="btn btn-primary" name="button">Decline</button></a>
              </div>
            </fieldset>
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
