{% extends "layout.html" %}
{% block content %}
    <div class ="content-section mb-4">
	<form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="text-center display-4">Set Up a Meeting</legend>
            <div class="form-group col-lg-4 text-center mx-auto">
              {{  form.date.label(class="form-control-label") }}
              {{  form.date(class="form-control form-control-sm") }}
            </div>
          </fieldset>
          <div class="fom-group text-center">
            {{ form.submit(class="btn btn-primary btn-sm") }}
          </div>
        </form>
      </div>

<div class="col-lg-8 mx-auto text-center">

      <div class="border-top pt-3">
        </div>

        <h1 class="text-center">Meeting Calendar</h1>

        <table class="table table-bordered" style="width:100%">

          <thead>
            <tr>
              <th>Name</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
          {% for meeting in meetings %}
          <tr>
            <td>{{ meeting.meetingFirstName }}</td>
            <td>{{ meeting.meetingDate }}</td>
          </tr>
          {% endfor %}
          </tbody>

        </table>
</div>


{% endblock content %}
