{% extends "layout.html" %}
{% block content %}


  <div class="container-fluid m-0 p-0">
    {%if pettype == 'Cat'%}
    <header class="mastheadCat">
      <div class="container-fluid h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 text-center">
            <h1 class="font-weight-light text-left">Browse By {{title}}</h1>
          </div>
        </div>
      </div>
      </header>
      {%elif pettype == 'Dog'%}
      <header class="mastheadDog">
        <div class="container-fluid h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
              <h1 class="text-info text-left">Browse By {{title}}</h1>
            </div>
          </div>
        </div>
        </header>
        {%elif pettype == 'Fish'%}
        <header class="mastheadFish">
          <div class="container-fluid h-100">
            <div class="row h-100 align-items-center">
              <div class="col-12 text-center">
                <h1 class="text-info text-left">Browse By {{title}}</h1>
              </div>
            </div>
          </div>
          </header>
          {%elif pettype == 'Bird'%}
          <header class="mastheadBird">
            <div class="container-fluid h-100">
              <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                  <h1 class="text-info text-left">Browse By {{title}}</h1>
                </div>
              </div>
            </div>
            </header>
            {%elif pettype == 'Reptile'%}
            <header class="mastheadReptile">
              <div class="container-fluid h-100">
                <div class="row h-100 align-items-center">
                  <div class="col-12 text-center">
                    <h1 class="text-info text-left">Browse By {{title}}</h1>
                  </div>
                </div>
              </div>
              </header>
              {%elif pettype == 'Small-Animal'%}
              <header class="mastheadSmallAnimal">
                <div class="container-fluid h-100">
                  <div class="row h-100 align-items-center">
                    <div class="col-12 text-center">
                      <h1 class="text-info text-left">Browse By {{title}}</h1>
                    </div>
                  </div>
                </div>
                </header>
      {%endif%}
  </div>

    <div class="container p-4 mb-4">
      <div class="row justify-content-center align-self-center">
      </div>
      <div class="row">
        {% for pet in pets %}
        <div class="col-lg-2">
          <div class="thumbnail pet-imageT text-center">
            <a href="#" data-toggle="modal" data-target="#myModal">
              <img src="../static/animal_pics/{{pet.petImage}}" class="rounded-circle pet-image shadow-lg img-fluid" alt="Animal" width="150">
            </a>
              <button type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#myModal{{pet.id}}">
                Meet {{pet.petName}}
              </button>
          </div>

          <!-- The Modal -->
      <div class="modal" id="myModal{{pet.id}}">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">{{pet.petName}}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body text-center">
              <img src="../static/animal_pics/{{pet.petImage}}" class="img-fluid rounded" alt="" width="280">
              <div class="container mt-3">
                <div class="row justify-content-center align-self-center">
                  <div class="col-lg-4">
                    <h5>Breed - {{pet.petBreed}}</h5>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <h5>Gender - {{pet.petGender}}</h5>
                  </div>
                </div>
                <div class="row justify-content-center align-self-center">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <h5>Age - {{pet.petAge}}</h5>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <h5>Weight - {{pet.petWeight}}</h5>
                  </div>
                </div>
              </div>
              <hr>
              <div class="container">
                <div class="row justify-content-center align-self-center">
                  <div class="col-12-lg text-center">
                    <h4>Meet {{pet.petName}}</h4>
                  </div>
                </div>
                <div class="row justify-content-center align-self-center">
                  <div class="col-lg-7">
                    <p>{{pet.petName}} would love to meet you. Schedule an appointment today!</p>
                  </div>
                </div>
                <div class="row justify-content-center align-self-center">
                  <a href="{{url_for('meetingAdd')}}">
                    <button class="btn btn-primary mt-2" type="button" name="button">Schedule An Appointment</button>
                  </a>
                </div>
              </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>


        </div>
        {% endfor %}
      </div>

    </div>

{% endblock %}
