{% extends "layout.html" %}



{% block content %}
    <div class ="content-section">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="bg-light text-dark">Create an Account!</legend>
            <div class="container">
              <div class="row justify-content-center align-items-center">
                <div class="col-lg-4">
                  <div class="form-group">
                    {{  form.username.label(class="form-control-label") }}
                      {% if form.username.errors %}
                        {{  form.username(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                          {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                          </div>

                      {% else %}
                        {{  form.username(class="form-control form-control-sm") }}
                      {% endif %}
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="form-group">
                    {{  form.email.label(class="form-control-label") }}

                      {% if form.email.errors %}
                        {{  form.email(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                          {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                          </div>

                      {% else %}
                        {{  form.email(class="form-control form-control-sm") }}
                      {% endif %}
                  </div>
                </div>
              </div>

              <div class="row justify-content-center align-items-center">
                <div class="col-lg-4">
                  <div class="form-group">
                    {{  form.firstName.label(class="form-control-label") }}
                      {% if form.firstName.errors %}
                        {{  form.firstName(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                          {% for error in form.firstName.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                          </div>

                      {% else %}
                        {{  form.firstName(class="form-control form-control-sm") }}
                      {% endif %}
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="form-group">
                    {{  form.lastName.label(class="form-control-label") }}
                      {% if form.lastName.errors %}
                        {{  form.lastName(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                          {% for error in form.lastName.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                          </div>

                      {% else %}
                        {{  form.lastName(class="form-control form-control-sm") }}
                      {% endif %}
                  </div>
                </div>
              </div>

              <div class="row justify-content-center align-items-center">
                <div class="col-lg-4">
                  <div class="form-group">
                      {{  form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                          {{  form.password(class="form-control form-control-sm is-invalid") }}
                          <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                              <span>{{ error }}</span>
                              {% endfor %}
                            </div>

                        {% else %}
                          {{  form.password(class="form-control form-control-sm") }}
                        {% endif %}

                    </div>
                </div>

                <div class="col-lg-4">
                  <div class="form-group">
                      {{  form.confirm_password.label(class="form-control-label") }}
                        {% if form.confirm_password.errors %}
                          {{  form.confirm_password(class="form-control form-control-sm is-invalid") }}
                          <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                              <span>{{ error }}</span>
                              {% endfor %}
                            </div>

                        {% else %}
                          {{  form.confirm_password(class="form-control form-control-sm") }}
                        {% endif %}
                  </div>
                </div>
              </div>
              <div class="row justify-content-center align-items-center">
                <div class="form-group">
                  {{ form.submit(class="btn btn-outline-success btn-lg") }}
                </div>
              </div>
          </div>
          </fieldset>
        </form>
      </div>
      <div class="border-top pt-3">
        </div>

{% endblock content %}
